<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset=utf-8>
    <title>隧道健康基础数据平台</title>
    <link rel=icon type=image/x-icon href=static/logo.ico>
    <link href=/static/css/app.52287ce15bd88f0cbb7f762d1624d702.css
          th:href="@{css/app.52287ce15bd88f0cbb7f762d1624d702.css }" rel=stylesheet>
</head>
<body>
<div id=app></div>
<script type=text/javascript src=/static/js/manifest.2ae2e69a05c33dfc65f8.js
        th:src="@{js/manifest.2ae2e69a05c33dfc65f8.js}"></script>
<script type=text/javascript src=/static/js/vendor.f4a1115768e5009b1b64.js
        th:src="@{js/vendor.f4a1115768e5009b1b64.js}"></script>
<script type=text/javascript src=/static/js/app.9b1bba584c2f3eaa89c1.js
        th:src="@{js/app.9b1bba584c2f3eaa89c1.js}"></script>
</body>
</html>